$text-color: #000000;
$background: #f8f8f8;
$white: #ffffff;
$brand-color: #df4e3c;
$h2-option: #aeaeae;
$text-possible-option: #8d8d8d;
$validation-color: #507a36;
$error: #ff2307;

* {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2 {
  font-weight: bold !important;
  font-size: 50px !important;
}

h2 {
  color: $h2-option !important;
  font-family: "Poppins", sans-serif !important;
}

h3,
h4 {
  font-weight: 600 !important;
  font-size: 30px !important;
}

h4 {
  font-size: 25px !important;
}

h5 {
  font-weight: 500 !important;
  font-size: 20px !important;
}

h6 {
  font-weight: 400 !important;
  font-size: 17px !important;
  margin-bottom: 0 !important;
}

.side-button {
  font-weight: 500 !important;
  font-size: 20px !important;
}

.filter-button {
  font-weight: 400 !important;
  font-size: 15px !important;
}

p {
  font-weight: 400 !important;
  font-size: 15px !important;
}

span {
  font-weight: 300 !important;
  font-size: 14px !important;
}

body {
  width: 1440px;
  margin: 0 auto !important;

  header {
    background: url(../images/headerBg.png);
    height: 686px;
    color: #f8f8f8;
    padding: 7px 100px 145px 88px;

    .navbar {
      margin-bottom: 136px;
      padding: 11px 2px 5px 2px;

      .navbar-brand {
        width: 139px;
        height: 35px;
        background: url(../images/logo.png);
        margin: 0;
      }

      .pages-link {
        display: grid;
        grid-template-columns: 70px 70px 63px;
        column-gap: 40px;
      }

      .facebook {
        margin-left: 45px;
      }

      .instagram {
        margin-left: 31px;
      }

      .nav-item {
        font-size: 15px;
        font-weight: 500;

        .fa-facebook-f {
          width: 9px;
          height: 18px;
          margin-left: 25px;
        }

        .fa-instagram {
          width: 18px;
          height: 18px;
          margin-left: 31px;
        }
      }
    }
    .header-info-instruction {
      width: 715px;
      margin-left: 13px;

      h1 {
        margin-bottom: 27px;
        height: 68px;
      }

      .header-order {
        margin-bottom: 70px;

        div {
          width: 295px;
          font-weight: 400;
          font-size: 15px;
          line-height: 20.43px;

          &:nth-child(1) {
            margin-right: 20px;
          }
        }
      }

      button {
        border: 1px solid #f8f8f8;
        border-radius: 15px;
        width: 296px;
        height: 56px;
        font-weight: 500;
        font-size: 20px;
        background-color: transparent;
        color: $background;
      }

      button:disabled {
        opacity: 0.3;
      }

      button:hover {
        background: $background;
        color: $text-color;
      }

      button:active {
        color: $background;
        background-color: transparent;
      }
    }
  }

  #offers {
    padding: 108px 98px 100px 100px;
    background: $background;

    h2 {
      margin-bottom: 82px;
    }

    .filter-options {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 290px;
      grid-column-gap: 20px;

      .form-select {
        position: relative;

        .dropbtn {
          color: white;
          font-weight: 400;
          font-size: 15px;
          border: none;
        }

        .dropdown {
          position: relative;
        }
      }
    }

    .filter {
      position: relative;

      .dropdown-content {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        font-weight: 400;
        font-size: 13px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 47px;
        width: 170px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 27px rgb(0 0 0 / 4%);
        border-right: 1px solid #c4c4c4;
        border-left: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        border-top: 1px solid white;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        padding-top: 10px;
      }

      .sort-drop {
        font-weight: 400 !important;
      }

      .sort-param:hover {
        color: $brand-color;
      }

      .dropdown-content-sort {
        font-weight: 400;
        font-size: 12px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 47px;
        width: 191px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 0px 27px rgb(0 0 0 / 4%);
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        padding: 12px;
        cursor: pointer;
      }

      .dropdown-content-sort div {
        cursor: pointer;
      }

      .dropdown-content div {
        color: black;
        padding: 0 16px;
        font-weight: 400;
        font-size: 13px;
      }

      .car-param:hover {
        color: $brand-color;
        cursor: pointer;
      }
    }

    .select-cars-by-param {
      width: 170px;
      height: 48px;
      font-size: 15px;
      display: flex;
      align-items: center;
      background-color: $white;
      padding-left: 16px;
      border: 1px solid #ced4da;
      border-radius: 15px;

      .form-select:focus {
        box-shadow: none;
      }
    }

    .search-result {
      width: 100%;
      background: $brand-color;
      color: $background;
      border-radius: 15px;
    }

    .search-result:hover {
      background: $white;
      color: $brand-color;
      border: 1px solid $brand-color;
      cursor: pointer;
    }

    .search-result:disabled {
      opacity: 0.3;
    }

    .cars-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .car-card {
        width: 295px;
        background-color: $white;
        box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

        .car-poster {
          position: relative;

          img {
            width: 295px;
            height: 200px;
          }

          .new-car {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 66px;
            height: 24px;
            font-size: 12px;
            color: $white;
            font-weight: 400;
            background-color: $text-color;
            padding: 3px 20px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
          }

          .sold-car h2 {
            margin: 0;
            position: absolute;
            top: 35%;
            left: 27%;
            color: $white !important;
          }
        }

        .car-info {
          margin: 22px 20px 39px;

          .release-year {
            margin-right: 8px;
            color: $text-possible-option;
          }

          .machine-characteristics {
            color: $text-possible-option;
            margin: 16px 0 26px 0;
            height: 19px;
          }

          .model-name h6 {
            width: 210px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .model-name:hover {
            text-decoration: underline;
            cursor: pointer;
          }

          .vl-container {
            position: relative;
            width: 16px;

            .vl {
              border-top: 1px solid $text-possible-option;
              transform: rotate(90deg);
              width: 20px;
              top: 12px;
              position: absolute;
            }
          }
        }
      }
    }

    .available-vehicles {
      margin: 23px 0;
      width: 180px;
      font-size: 12px;

      input {
        border: 2px solid $text-possible-option;
        cursor: pointer;
        width: 16px;
        height: 16px;
      }

      .form-check-input:checked[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='ffffff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      }

      input:checked {
        background: $brand-color;
        color: $white;
        border: 2px solid $brand-color;
      }

      .form-check-input:focus {
        box-shadow: none;
      }

      input:checked .checkbox-text {
        color: $brand-color;
      }

      .checkbox-text {
        margin-left: 10px;
      }
    }

    .sort {
      width: 237px;
      font-weight: 400;
      font-size: 12px;

      .sort-text {
        width: 80px;
      }

      .sort-img {
        width: 12px;
        position: relative;

        .vector-top {
          top: -7px;
          position: absolute;
        }

        .vector-bottom {
          position: absolute;
          left: 3px;
          top: -3px;
        }

        img {
          width: 6px;
          height: 8px;
        }
      }

      .sort-drop {
        width: 161px;
      }

      #sort-by-param {
        color: $text-possible-option;
        width: 171px;
        background-image: none;
        padding: 0;
        font-size: 12px;
        border-color: #f8f8f8;
        box-shadow: none;
        background-color: #f8f8f8;
        padding-left: 8px;
        font-weight: 400;
      }

      option:hover {
        color: $brand-color;
      }
    }

    .no-matches {
      display: none;
      margin: 5% 40%;
      font-size: 40px;
    }

    .activ-drop-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
      background-image: none;
      font-weight: 600;
      border: 1px solid #c4c4c4;
    }
  }

  #search-request {
    color: $background;
    background-color: $text-color;
    padding: 40px 100px 20px;

    div:first-child {
      width: 505px;
      margin-right: 20px;
    }

    p {
      padding-top: 20px;
      line-height: 22px;
      font-size: 15px;
      font-weight: 400;
    }

    form {
      margin: 17px 0;
    }

    .email-fild-container {
      position: relative;

      input {
        width: 505px;
        height: 54px;
        margin-right: 20px;
        border: 1px solid #bdbdbd;
        border-radius: 15px;
        padding: 17px 16px;
        background: $text-color;
        color: $background;
        font-weight: 400;
        font-size: 15px;
        padding: 13px 50px 12px 16px;
      }

      input:focus::placeholder {
        color: transparent;
      }

      .check-mark {
        color: $validation-color;
        position: absolute;
        top: 13px;
        right: 19.5px;
        display: none;
      }

      .cross {
        color: $error;
        position: absolute;
        top: 13px;
        right: 19.5px;
        display: none;
      }

      .error-message {
        width: 70px;
        top: 63px;
        left: 16px;
        position: absolute;
        display: none;
        font-size: 10px !important;
        font-weight: 400px !important;
        color: $error;
      }
    }

    button {
      width: 190px;
      height: 54px;
      background: $background;
      border-radius: 15px;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
    }

    button:hover {
      border: 2px solid #f8f8f8;
      border-radius: 15px;
      background: $text-color;
      color: $background;
    }

    button:disabled {
      opacity: 0.3;
    }

    button:active {
      color: $background;
      background-color: transparent;
    }
  }

  #questions {
    background-color: $background;
    padding: 110px 0 150px;

    .accordion {
      width: 820px;
      margin: 65px auto;

      .accordion-item {
        border-bottom: 1px solid #c4c4c4;

        .accordion-header {
          margin-bottom: 0 !important;

          .accordion-button {
            background-color: $background;
            font-size: 17px;
            font-weight: 500;
            padding: 24px;
          }

          .accordion-button:focus {
            border-color: white;
            box-shadow: none;
          }

          .accordion-button:not(.collapsed) {
            color: $brand-color;
            padding-bottom: 21px;
          }

          .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
            transform: scale(0.7) !important;
          }

          .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
          }
        }
      }

      .active-accordion-button {
        box-shadow: 0px 0px 18px rgb(68 68 68 / 9%);
      }

      .accordion-collapse {
        background-color: $white !important;
      }

      .active-accordion-button-color {
        background-color: $white !important;
        box-shadow: none;
      }

      .accordion-body {
        padding: 0px 72px 16px 24px;

        div {
          font-weight: 400;
          font-size: 13px;
          margin-bottom: 8px;
        }
      }
    }
  }
  #footer {
    padding: 34px 104px 37px 80px;
    background-color: #000000;
    color: #f8f8f8;
    height: 121px;

    .footer-network-links {
      width: 67px;
    }
    .footer-site-links {
      margin-left: 303px;
      margin-right: 411px;
      display: grid;
      grid-template-columns: 72px 72px 69px;
      column-gap: 40px;
      font-weight: 600;
      font-size: 15px;
      padding-top: 6px;
    }
  }
}

.brand-color {
  color: $brand-color;
}

.brand-color-border {
  border: 1px solid $brand-color !important;
  border-radius: 15px !important;
  font-weight: 400 !important;
}

.grid {
  display: grid !important;
}

select {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
select:hover {
  background-color: gren;
}
option:hover {
  background-color: rgb(255, 64, 0) !important;
}

.display-none {
  display: none;
}
.border-bottom-none {
  border-color: 1px solid #f8f8f8 !important;
  border: 1px solid #f8f8f8 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 0 !important;
}
